// базовые стили
@import "./base/base";

// Утилиты
@import "./utils/variables";
@import "./utils/visually-hidden";

// компоненты
@import "./components/btn";
@import "./components/menu-btn";
@import "./components/modal/module";
@import "./components/container";
@import "./components/mobile-menu";

@import "./components/header";
@import "./components/hero";
@import "./components/feature";
@import "./components/work";
@import "./components/team";
@import "./components/client";


@import "./components/portfolio";

@import "./components/footer";





