.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/hero.jpg");

    background-color: #c4c4c4;
    background-size: cover;
}

.hero-title {
    margin: 0 auto 30px;
    max-width: 696px;

    color: var(--secondary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.hero-button {
    padding: 10px 32px;
    min-width: 200px;

    color: var(--secondary-white-color);
    letter-spacing: 0.06em;
    text-align: center;

    background-color: var(--accent-color);
    border-radius: 4px;
    border: 1px solid transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

