.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    @media screen and(max-width:1199px) {
        padding-top: 118px;
        padding-bottom: 118px;
    
    }
}

.overlay {
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: #c4c4c4;
    background-size: cover;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/hero/bg-hero_sm.png");

        // Ретінізація фонових зображень+підтримка формату webp
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero/bg-hero_sm.webp") 1x);

    @include mq(retina) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
            url("../images/hero/bg-hero_sm@2x.png");
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero/bg-hero_sm@2x.webp") 2x);
    }

    @include mq(tablet) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
            url("../images/hero/bg-hero_md.png");
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero/bg-hero_md.webp") 1x);
        @include mq(retina) {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), 
                url("../images/hero/bg-hero_md@2x.png");
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero/bg-hero_md@2x.webp") 2x);
        }
    }

    @include mq(desktop) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
            url("../images/hero/bg-hero_lg.png");
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero/bg-hero_lg.webp") 1x);
        @include mq(retina) {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), 
                url("../images/hero/bg-hero_lg@2x.png");
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero/bg-hero_lg@2x.webp") 2x);
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero/bg-hero_lg@2x.webp") 2x);
        }
    }
    
}

.hero-title {
    margin: 0 auto 30px;
    max-width: 696px;

    color: var(--secondary-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    @media screen and (max-width: 1199px) {
        max-width: 360px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero-button {
    padding: 10px 32px;
    min-width: 200px;

    color: var(--secondary-white-color);
    letter-spacing: 0.06em;
    text-align: center;

    background-color: var(--accent-color);
    border-radius: 4px;
    border: 1px solid transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

