:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #e5e5e5;
    --primary-dark-color: #2f303a;
    --section-color: #f5f4fa;
    --secondary-white-color: #ffffff;
    --address-color: rgba(255, 255, 255, 0.6);
    --icon-color: #afb1b8;
    /* переменные шрифта */
    --main-font: Roboto, sans-serif;
    --accent-font: Raleway, sans-serif;
}